@import "tailwindcss";

@theme {
  --color-primary: #05472A;
  --color-secondary: #2ECC71;
  
  /* Dejo estas variables vivas por si algún texto quedó usándolas, pero ya no cambiarán */
  --color-club-neutral: #121212;
  --color-club-dark: #0a0a0a;
  --color-club-card: #18181b;
  --color-club-card-hover: #222226;
  --color-club-border: #27272a;
  --color-club-text-primary: #ffffff;
  --color-club-text-secondary: #a1a1aa;
}

/* Forzamos tus excepciones visuales al modo claro perpetuo */
.text-alert-custom {
  color: #ff4a4a !important;
}

.bg-rose-50 {
  background-color: #fff1f2 !important;
  border-color: #fecdd3 !important;
}

.bg-purple-50 {
  background-color: #faf5ff !important;
  border-color: #e9d5ff !important;
}